/* Header top */
.Header__top {padding: 7px 16px 7px 16px; display: grid; grid-template-columns: 1fr auto; align-items: center;}

/* Media query */
@media(min-width: 376px){
    .Header__top {padding: 7px 0 7px 0; grid-template-columns: repeat(6, 1fr);}
}