/* Page 3 article */
.page-3__article {margin: 21px 16px 21px 16px;}

/* Media query */
@media(min-width: 376px){
    .page-3__article {margin: 50px 0px 50px 0px; grid-column: 2 / 6; clear: both;}
}